.search {
  display: flex;
  flex-direction: column;
  height: 100px;
  margin-bottom: 10px;

  input {
    max-height: 100px;
    background: transparent;
    color: #999999;
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    border: 0;
    border-bottom: 1px solid;
    padding: 10px 0;
    width: 100%;
  }

  small {
    color: #fafafa;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
  }
}

@media (max-width: 600px) {
  .search {
    input {
      font-size: 30px;
    }
  }
}
