<li [@row]="rowState">
  <div class="track__name">
    <p>{{numberMusic}}.</p>
    <p class="track__name">{{track?.name}} <small *ngIf="track?.preview_url">Duração:
        {{ track?.duration_ms | duration}}</small></p>
  </div>
  <ng-container *ngIf="track?.preview_url">
    <audio controls>
      <source [src]="track?.preview_url" type="audio/mpeg">
    </audio>
  </ng-container>
  <div *ngIf="!track?.preview_url" class="track__name">
    <p>{{ track?.duration_ms | duration}}</p>
  </div>
</li>
