li {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  align-items: center;
  margin: 10px 0;
}

.track {
  &__name {
    display: flex;
    p {
      margin-left: 20px;
      color: #fafafa;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      max-width: 250px;

      small {
        margin-top: 5px;
        color: #999999;
      }
    }
  }
}

@media (max-width: 600px) {
  li {
    flex-direction: column;
    align-items: flex-start;
  }

  audio {
    margin: 20px;
  }
}
