<div class="m--10">
  <app-search (emiteAlbunsBuscados)="recebeAlbunsBuscados($event)"></app-search>

  <div class="albums">
    <p *ngIf="ultimaBusca && albuns.length">Resultados encontrados para "{{ultimaBusca}}"</p>
    <div class="grid">
      <div *ngFor="let album of albuns">
        <app-album [album]="album"></app-album>
      </div>
    </div> <!-- Fim grid Layout -->
  </div> <!-- Fim albums -->
  <div class="not" *ngIf="!albuns.length">
    <span>Nenhum álbum na lista de busca</span>
  </div>

</div> <!-- Fim dashboard -->
