.albums {
  p {
    font-size: 18px;
    color: #ffffff;
    margin: 30px 0;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
    grid-column-gap: 63px;
    grid-row-gap: 80px;
    align-items: baseline;
  }
}

.not {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    color: #999999;
    font-size: 24px;
    margin-top: 50px;
    font-weight: 500;
  }
}

.m--10 {
  margin: 0 10px;
}

@media (max-width: 600px) {
  .grid {
    align-items: baseline;
    justify-content: center;
    grid-row-gap: 30px;
  }
}
